span.menu-item {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25rem;
}

a.link-item-home span.menu-item {
    position: relative;
    top: 0.32rem;
    font-size: 2rem;
    left: 0.1rem;
    color: #000000;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border-style: solid; */
    /* border-color: #000; */
}

a.link-item-resume span.menu-item {
    position: relative;
    top: 0.15rem;
}

a.link-item-projects span.menu-item {
    position: relative;
    top: 0.15rem;
}

a.link-item-blog span.menu-item {
    position: relative;
    display: hidden;
    top: 0.15rem;
}

a.link-item-linkedin span.menu-item {
    position: relative;
    top: 0.15rem;
}

a.link-item-about span.menu-item,
a.link-item-github span.menu-item {
    position: relative;
    top: 0.15rem;
    transition: background-color 0.5s ease;
}


/* li a:hover {
    background-color: #000;
    color: white;
} */

nav.top-bar {
    opacity: 100;
}

.top-bar-section,
.top-bar {
    background: #fefefe;
    overflow: visible;
    margin: 5;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #fefefe;
}

.top-bar-section ul li>a {
    color: #000;
}

.title-area {
    padding-top: 0.65rem;
}

@media screen and (min-width: 1050px) {
    .top-bar {
        margin-left: 40px;
        margin-left: 12rem;
        margin-right: 12rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1049px) {
    .top-bar {
        margin-left: 40px;
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

h1 {
    margin-left: 250px;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #fefefe;
    color: rgb(66, 66, 66);
}

.link-item-name {
    color: #000
}

.link-item-name:hover {
    color: rgb(66, 66, 66);
}

.github-widget {
    margin-left: 5.5rem;
    margin-right: 1.5rem;
}

@media screen and (min-width: 900px) and (max-width: 1049px) {
    .github-widget {
        margin-left: 0rem;
        margin-right: 1rem;
    }
    h1 {
        margin-left: 80px;
    }
}

.gh-wiget-text-fl {
    background-color: rgb(206, 206, 206);
}

#cart2 {
    max-height: 550px;
    width: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about {
    justify-content: left;
    margin-left: 12rem;
}

p {
    text-align: center;
}

#footer {
    color: #000;
}

#ken {
    max-height: 200px;
    width: auto;
    margin: 1rem;
}