{% extends "foundation/base.html" %} {% block head %} {{super()}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/app.css">
    <script type="text/javascript" src="../static/js/sup-topbar.min.js"></script>
    <link rel="stylesheet" href="../static/css/sup-styles.css">

    <!-- <script src="/static/js/jquery.js"></script> -->
    <!-- <link rel="stylesheet" href="../static/foundation/css/foundation.min.css"> -->
    <!-- <script type="text/javascript" src="../static/foundation/js/foundation.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

</head>

<body>
    {% include 'navbar.html' %}
    <br>
    <h1>About</h1>
</body>

<footer>
</footer>

</html>
{% endblock head %} {% block content %} {% endblock content %}