<div class="slideUp">
</div>
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="item">
            <li>
                <a class="link-item-name" href="/"><span ></span>&nbsp; Kenneth Alexopoulos</a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </li>
    </ul>


    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li>
                <a>&nbsp;</a>
            </li>

            <li>
                <a class="link-item-about" href="/about/"><span class="fi-torso menu-item"></span>&nbsp; About</a>
            </li>
            <li>
                <a class="link-item-resume" href="/resume/" target="_blank"><span class="lnr fi-list menu-item"></span>&nbsp; Resume</a>
            </li>
            <!-- <li>
                <a class="link-item-projects" href="#"><span class="lnr fi-star menu-item"></span>&nbsp; Projects</a>
            </li>
            <li>
                <a class="link-item-blog" href="#"><span class="lnr fi-results-demographics menu-item"></span>&nbsp; Blog</a>
            </li> -->
        </ul>
        <ul class="right">
            <li class="">
                <a class="link-item-linkedin" href="https://www.linkedin.com/in/kenneth-alexopoulos-6a4ab411a/"><span class="lnr fi-social-linkedin menu-item"></span>&nbsp; LinkedIn</a>
            </li>
            <li class="">
                <a class="link-item-github" href="https://github.com/Kennya-42"><span class="lnr fi-social-github menu-item"></span>&nbsp; Github</a>
            </li>
        </ul>
    </section>
</nav>
</div>