{% extends "foundation/base.html" %} {% block head %} {{super()}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site Title</title>
    <link rel="stylesheet" href="/../static/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="/../static/css/app.css">
    <script type="text/javascript" src="/../static/foundation/js/foundation.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/../static/js/sup-topbar.min.js"></script>
    <link rel="stylesheet" href="../static/css/sup-styles.css">
    <title>HTML Reference</title>
</head>

<body>
    <div class="slideUp"></div>
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="item">
                <a class="link-item-home" href="/"><span class="fi-home menu-item"></span>&nbsp; </a>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
        </ul>

        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
                <li class="">
                    <a class="link-item-resume" href="/resume/"><span class="lnr fi-list menu-item"></span>&nbsp; Resume</a>
                </li>
                <li>
                    <a class="link-item-projects" href="#"><span class="lnr fi-star menu-item"></span>&nbsp; Projects</a>
                </li>
                <li>
                    <a class="link-item-blog" href="#"><span class="lnr fi-results-demographics menu-item"></span>&nbsp; Blog</a>
                </li>
            </ul>
            <ul class="right">
                <li class="">
                    <a class="link-item-linkedin" href="#"><span class="lnr fi-social-linkedin menu-item"></span>&nbsp; LinkedIn</a>
                </li>
                <li class="">
                    <a class="link-item-github" href="#"><span class="lnr fi-social-github menu-item"></span>&nbsp; Github</a>
                </li>
            </ul>
        </section>
    </nav>
    </div>
    <h1>More about me</h1>

    <footer>
        <script type="text/javascript">
            $(document).foundation();
        </script>
    </footer>
</body>

</html>


{% endblock head %} {% block content %} {% endblock content %}